<form method="post" action="{{ path('app_reservation_delete', {'id': reservation.id}) }}"
      data-controller="confirm"
      data-confirm-message-value="Are you sure you want to delete this reservation? This will restore flower stock and remove all associated data."
      data-action="submit->confirm#ask">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
  <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete Reservation</button>
</form>