<form method="post" action="{{ path('app_customer_delete', {'id': customer.id}) }}"
      data-controller="confirm"
      data-confirm-message-value="Are you sure you want to delete this customer? All associated data will be permanently removed."
      data-action="submit->confirm#ask">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
  <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete Customer</button>
</form>